<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>   
<body>
 <h1>Forgot Password</h1>
 <form action="" method ="POST"> 
<!-- WHEN FORM IS SUBMITTED VALUES PASSED TO SAME URL -->
<label for="email">Email</label>
<input name="email" type="email" id="email" />
<br>
<input type="submit" value="Submit">
 </form>
</body>
</html>