<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>   
<body>
 <h1>Reset Password</h1>
 <form action="" method ="POST"> 
    <!-- WHEN FORM IS SUBMITTED VALUES PASSED TO SAME URL -->
    <label for="password">Enter password</label>
    <input name="password" type="password" id="password" />
    <label for="password2">Confirm password</label>
    <input name="password2" type="password2" id="password2" />
    <br>
    <input type="submit" value="Reset Password">
     </form>
<br>
<input type="submit" value="Submit">
 </form>
</body>
</html>